body{
    overflow-x: hidden;
}
.full{
    height: 100%;
}

.heading{
    height: 100vh;
    max-width: 100vw;
    z-index: -1;
    background: url('../images/image1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.heading::after{
    content: '';
    position: absolute; 
    top: 0;
    left: 0; 
    width: 100%; 
    height: 100vh; 
    z-index: 0;

    background-image: url('../images/overlay.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar {
    /* background: #F4F9F4; */
    overflow: hidden;
    padding-top: 3rem;
    padding-bottom: 1.7rem;
}

.navbar ul{
    float: right;
    list-style-type: none;
}

.navbar-logo{
    float: left;
}
.navbar-list{
    margin-top: 1.5rem;
}

.navbar-list li{
    float: left;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    text-decoration: none;
}
.slogan{
    position: relative;
    float: right;
    right: 12%;
    top: 45%;
    z-index: 2;
}
.slogan::after{
    content: '';
    position: relative;
    z-index: -1;
    left: 10rem;
    bottom: 4.5rem;
    display: block;

    width: 24rem;
    height: 3.6rem;
    background: #6AE977;
}

.card{
    width: 100%;
    height: 100%;
    background-color: #46AE83;
    color: #F4F9F4;
    border-radius: 2rem;
    padding: 2rem;
}

.card-alt{
    width: calc(100% - 1.5rem);
    
    border-radius: 2rem;
    background-color:#F4F9F4;
    color: #46AE83;
    font-weight: 800;
}

.card-alt img{
    width: 100%;
    height: 30rem;
    object-fit: cover;
    border-radius: 2rem;
    z-index: -10;
}

.card-btn{
    max-width: calc(100% - 1.5rem);
    
    z-index: 10;
    display: flex;
    flex-direction: row;
    padding: .5rem 2rem 1rem 2rem;
}

.card-btn h5{
    margin: 0;
}

.card-btn img{
    width: 3.2rem;
    height: 3.2rem;
    float: right;
    z-index: 1;
    position: relative;
    top: 5%
}

.description{
    width: 100%;
    height: 100%;
    margin-top: 7rem;
    margin-bottom: 7rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
    text-align: center;
}

.description p{
    margin: auto 8rem auto 8rem;
}

.penjelasan{
    display: flex;
    flex-direction: row;
    flex-basis: 33%;
    width: 100%;
    height: 100%;
}

.masalah{
    margin-top: 10rem;
}

.detail{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.showup-detail{
    display: flex;
    flex-direction: column-reverse;

    width: 100%;
    position: relative;
    margin-top: -8rem;
}

.showup-detail h5{
    margin: 0;
}

.showup-detail-alt{
    text-align: center;
}
.showup-detail-alt h5{
    margin: 0;
}
.circle-detail{
    border-radius: 50%;
    background: #6AE977;
    width: 15rem;
    height: 15rem;
}

.circle-detail img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.detail-desc{
    text-align: center;
    margin-top: 1rem;
}

.solusi-content{
    justify-content: center;
}

.solusi-content p {
    margin-top: 2.2rem;
}

.solusi-heading{
    margin-top: 7rem;
    margin-bottom: 7rem;
}

.content-left, .content-right, .content-middle {
    width: 22rem;
    height: 100%;
    text-align: center;
}

.content-left, .content-right{
    position: relative;
    top: 7rem;
}
.content-left{
    margin-right: 6%;
}

.content-middle{
    margin-right: 15%;
}

.content-middle p{
    position: relative;
    left: 40%;
}

.content-rectangle-1{
    width: 16rem;
    height: 16rem;
    background: #46AE83;
    border-radius: 41.8728px;
    transform: matrix(-0.97, -0.26, -0.26, 0.97, 0, 0);
    z-index: -1;
}

.content-rectangle-2{
    width: 20rem;
    height: 22rem;
    background: #6AE977;
    border-radius: 5rem;
    transform: matrix(0.97, -0.26, 0.26, 0.97, 0, 0);
    z-index: -1;
}

.content-img-lr{
    width: 15rem;
    height: 15rem;
    z-index: 1;
    margin-top: -40%;
    position: relative;
    left: 20%;
}

.content-img-lr img, .content-img-m img{
    width: 100%;
    height: 100%;
    border-radius: 2.2rem;
    object-fit: cover;
}

.content-img-m{
    width: 100%;
    height: 100%;
    margin-top: -15rem;
    position: relative;
    left: 40%;
    z-index: 1;
}

.content-img-m img{
    height: 100%;
    width: 20rem;
}

.produk-kami {
    background-image: url('../images/bg_v.svg');
    background-repeat: repeat-x;
    background-size: fill;
    background-position: center;

    width: 100%;
    height: 100%;

    margin-top: 21rem;
    padding-bottom: 36rem;
}

.produk-title{
    position: relative;
    top: -14rem;
    margin-bottom: -7rem;
}

.produk-desc{
    max-width: calc(100% - 3rem);
    text-align: center;
    margin-top: 2rem;
}

.pencapaian{
    background-image: url('../images/4.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 2.2rem;
    padding: 4rem;
    color: #F4F9F4;
    max-height: 45rem;

    margin-top: -26rem;
}

.pencapaian-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.footer{
    background-image: url('../images/overlay_footer.svg');
    background-position: center;
    background-repeat: repeat-x;
    
    width: 100%;
    height: 100%;
    padding-top: 15rem;
}

.footer p{
    margin-bottom: 0;
}

.copyright{
    background-image: url('../images/curve.svg');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 20rem;
    
    color: #F4F9F4;
    text-align: center;
    
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 2rem;
    margin-top: -12rem;
    z-index: 1;
}

.eclipse-1{
    float: left;
    width: 32rem;
    height: 32rem;
    opacity: 0.72;
    position: absolute;
    left: -16rem;
    
    border: 6rem solid #76FBEB;
    border-radius: 50%;
}

.eclipse-2{
    float: right;
    width: 28rem;
    height: 28rem;
    opacity: 0.72;
    position: absolute;
    right: -16rem;
    margin-top: -12rem;
    
    border: 6rem solid #76FBEB;
    border-radius: 50%;
}

.eclipse-3{
    float: right;
    width: 24rem;
    height: 24rem;
    opacity: 0.72;
    position: absolute;
    right: 56%;
    margin-top: -5rem;
    
    border: 6rem solid #76FBEB;
    border-radius: 50%;
}

.eclipse-4{
    float: right;
    width: 18rem;
    height: 18rem;
    opacity: 0.72;
    position: absolute;
    right: 25%;
    margin-top: 20%;
    
    border: 5.2rem solid #76FBEB;
    border-radius: 50%;
}

.rectangle-1{
    position: absolute;
    right: -2.2rem;
    float: right;
    margin-top: 8rem;

    width: 42rem;
    height: 16rem;
    background: #76FBEB;
    border-radius: 1.8rem;
}

.shadow-1{
    filter: drop-shadow(.7rem .7rem 1.6rem rgba(0, 0, 0, 0.22));
}