html{
    max-width: 100vw;
    height: auto;
    overflow-x: hidden!important;
    scroll-behavior: smooth;
}

#snap{
    height:100vh;
}

a{
    text-decoration: none;
}

.hide-mobile{
    display: none;
}

.show-mobile{
    display: block
}

.shadow-1{
    filter: drop-shadow(.7rem .7rem 1.6rem rgba(0, 0, 0, 0.22));
}

.eclipse-1{
    float: left;
    width: 22rem;
    height: 22rem;
    opacity: 0.72;
    position: absolute;
    left: -12rem;
    
    border: 6rem solid #76FBEB;
    border-radius: 50%;
    z-index: -1;
}

.eclipse-2{
    width: 22rem;
    height: 22rem;
    opacity: 0.72;
    
    position: relative;
    right: -30%;
    
    border: 6rem solid #76FBEB;
    border-radius: 50%;
    z-index: -1;
}

.overflow-eclipse-2{
    overflow: hidden;
    float: right;
    position: absolute;
    right: 0;
    margin-top: -12%;
}

.eclipse-3{
    float: right;
    width: 24rem;
    height: 24rem;
    opacity: 0.72;
    position: absolute;
    left: -32%;
    margin-top: -12%;
    
    border: 6rem solid #76FBEB;
    border-radius: 50%;
    z-index: -1;
}

.eclipse-4{
    width: 18rem;
    height: 18rem;
    opacity: 0.72;

    /* margin-right: -30%;
    margin-top: 140%; */

    position: relative;
    right: -30%;
    
    border: 5.2rem solid #76FBEB;
    border-radius: 50%;
}

.overflow-eclipse-4{
    overflow: hidden;
    float: right;
    position: absolute;
    right: 0;
    margin-top: 140%;
}

.rectangle-1{
    position: relative;
    right: -50%;

    width: 42rem;
    height: 12rem;
    background: #76FBEB;
    border-radius: 1.8rem;
}

.overflow-rectangle-1{
    overflow: hidden;
    float: right;
    position: absolute;
    right: 0;
    margin-top: 25%;
}

nav{
    position: sticky;
    float: left;
    top: 0;
    left: 0;

    width: 100%;
    z-index: 100;
    font-size: 1.5rem;
}

.nav-scrolled{
    background: #F4F9F4;
    padding-top: 2rem;
    padding-bottom: 2rem;
    filter: drop-shadow(.7rem .7rem 1.6rem rgba(0, 0, 0, 0.22));
}

.top-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding-top: 2rem;
    padding-bottom: 2rem;
}

.top-nav img{
    margin-top: .7%;
    height: 2.2rem;
    width: 2.2 rem;
}

.top-nav a.icon {
    background: #1c1c1c;
    float: right;

    width: 3.3rem;
    height: 2.8rem;
    border-radius: .5rem;
    
    text-align: center;
    color: #F4F9F4;

    padding: .7rem .3rem;
}

.top-nav a.icon-1 {
    background: #1c1c1c;
    float: right;

    width: 3.3rem;
    height: 2.8rem;
    border-radius: .5rem;
    
    text-align: center;
    color: #F4F9F4;

    padding: .7rem .3rem;
}

.top-nav .icon-1 i{
    position: relative;
    bottom: .2rem;
}

.top-nav a img{
    height: 3rem;
    margin-top: auto;
    margin-bottom: -1.7rem;
}

.top-nav .icon i{
    position: relative;
    bottom: -.2rem;
}

.top-nav a.icon:hover, .top-nav a.icon-1:hover {
    background: #46AE83;
    color: #1c1c1c;
}

.top-nav a:hover{
    font-weight: 800;
}



.navbar-list-desktop{
    display: none;
    float: right;
}

.navbar-list-desktop a{
    color: #1c1c1c;
    text-decoration: none;
    margin: 2rem 1rem auto 1rem;
}
ul{
    color: #1c1c1c;
    list-style-type: none;
}

.nav-content{
    display: none;
    background: #F4F9F4;
    
    width: 100%;
    height: 100vh;

    position: absolute;
    left: 0;
    top: 0;

    padding: 2rem 0 ;

    overflow-y: scroll;
    z-index: 999;
}

.nav-content ul{
    list-style-type: none;
    position: relative;
    top: 20%;
}

.nav-content li{
    margin: 0 auto;
    padding: 1.2rem;
    text-align: center;
}

.nav-content li:hover{
    color: #F4F9F4;
    background: #1c1c1c;
    filter: drop-shadow(.7rem .7rem 1.6rem rgba(0, 0, 0, 0.22));
}

.nav-content li a:hover{
    color: #F4F9F4;
}

.nav-content a{
    color: #1c1c1c;
    text-decoration: none;
    font-size: 2rem;
}

.nav-content li:hover:nth-child(5){
    color: #1c1c1c;
    background: transparent;
}

.nav-dampak li{
    color: #F4F9F4
}

.black-off{
    display: none;
}

.black-on{
    display: inline-block;
}

.white-off{
    display: none;
}

.white-on{
    display: inline-block;
}

.nav-dampak .navbar-list li{
    color: #1c1c1c
}

.heading{
    background-image: url('../images/bg_hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 30%;
    width: 100%;
    height: 42rem;
    z-index: -1;

    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 7rem;
}

.heading::before{
    content: '';
    position: absolute; 
    top: 0;
    left: 0; 
    width: 100%;
    height: 42rem; 
    z-index: 0;

    background-image: url('../images/overlay.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 30%;
}

.heading-alt{
    width: 100%;
    height: 42rem; 
    z-index: 0;

    background-image: url('../images/overlay.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 30%;

    margin-bottom: 7rem;
}

.card{
    background-color: #46AE83;
    color: #F4F9F4;
    border-radius: 2rem;
    padding: 2rem;
}

.card-desc{
    padding: 1.6rem;
}

.card-desc h2{
    margin: 0;
}

.description{
    padding-top: 6rem;
    padding-bottom: 6rem;
    text-align: center;
}

.slogan-content{
    float: right;
    z-index: 0;

    position: relative;
    bottom: -22rem;
    right: 10%;
}

.slogan-content::after{
    content: '';
    position: relative;
    z-index: -1;
    left: 9rem;
    bottom: 4rem;
    display: block;

    width: 16.3rem;
    height: 3.2rem;
    background: #6AE977;
}

.masalah{
    overflow: hidden;
    margin-top: 7rem;
}

.masalah-content{
    margin-top: 2rem;
}

.showup{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.showup p{
    text-align: center;
}

.showup-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.showup-circle{
    border-radius: 50%;
    background: #6AE977;
    width: 15rem;
    height: 15rem;
}

.showup-circle img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 50%;
}

.showup-detail{
    display: flex;
    flex-direction: column-reverse;

    width: 100%;
    position: relative;
    margin-top: -8rem;

}

.showup-detail-alt{
    text-align: center;
}

.detail-desc p{
    margin-left: auto;
    margin-right: auto;
    max-width: 22ch;
}

.solusi-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.solusi-content p {
    margin-top: 2.2rem;
}

.solusi-heading{
    margin-top: 7rem;
    margin-bottom: 7rem;
}

.content-left, .content-right, .content-middle {
    width: 22rem;
    height: 100%;
    text-align: center;
}

/* .content-left, .content-right{
    position: relative;
    top: 7rem;
} */
.content-left{
    margin-right: 6%;
}

.content-middle{
    margin-right: 15%;
}

.content-middle p{
    position: relative;
    left: 40%;
}

.content-rectangle-1{
    width: 16rem;
    height: 16rem;
    background: #46AE83;
    border-radius: 4rem;
    transform: matrix(-0.97, -0.26, -0.26, 0.97, 0, 0);
    z-index: -1;
}

.content-rectangle-2{
    width: 20rem;
    height: 22rem;
    background: #6AE977;
    border-radius: 5rem;
    transform: matrix(0.97, -0.26, 0.26, 0.97, 0, 0);
    z-index: -1;
}

.content-img-lr{
    width: 15rem;
    height: 15rem;
    z-index: 1;
    margin-top: -40%;
    position: relative;
    left: 20%;
}

.content-img-lr img, .content-img-m img{
    width: 100%;
    height: 100%;
    border-radius: 2.2rem;
    object-fit: cover;
}

.content-img-m{
    width: 100%;
    height: 100%;
    margin-top: -15rem;
    position: relative;
    left: 40%;
    z-index: 1;
}

.content-img-m img{
    height: 25rem;
    width: 20rem;
}

.produk-kami {
    background-image: url('../images/bg_v.svg');
    background-repeat: repeat-x;
    background-size: fill;
    background-position: 0% 0%;

    width: 100%;
    height: 100%;

    margin-top: 21rem;
    padding-bottom: 36rem;
}

.produk-title{
    position: relative;
    top: -14rem;
    margin-bottom: -7rem;
}

.produk-desc{
    max-width: calc(100%);
    text-align: center;
    margin-top: 2rem;
}

.teknologi{
    background-image: url('../images/bg_v.svg');
    background-size: fit;
    background-repeat: repeat-x;
    background-position-y: 7rem;
    z-index: -100;
    
    width: 100%;
    height: 100%;
    
    margin-top: 7rem;
    margin-bottom: 7rem;
}

.teknologi h2{
    margin-bottom: 7rem;
}

.teknologi img{
    width: 100%;
    position: relative;
    z-index: 1;
    border-radius: 2.2rem;
}

.teknologi-desc{
    background: white;
    padding: 2rem;
    border-radius: 1.2rem;
    margin-top: 2rem;
    
    z-index: 2;
}

.teknologi-desc p{
    position: relative;
    margin-left: 18%;
}

.card-alt{
    width: calc(100%);
    
    border-radius: 2rem;
    background-color:#F4F9F4;
    color: #46AE83;
    font-weight: 800;
}

.card-alt img{
    width: 100%;
    height: 30rem;
    object-fit: cover;
    border-radius: 2rem;
    z-index: -10;
}

.card-btn{
    max-width: calc(100% - 1.5rem);
    
    z-index: 10;
    display: flex;
    flex-direction: row;
    padding: .5rem 2rem 1rem 2rem;
}

.card-btn h5{
    margin: 0;
}

.card-btn img{
    width: 3.2rem;
    height: 3.2rem;
    float: right;
    z-index: 1;
    position: relative;
    top: 5%
}

.testimoni {
    margin-top: -28rem;
    margin-bottom: 16rem;
}

.testimoni-title{
    margin-bottom: 6rem;
}

.testimoni p, .produk-kami p{
    max-width: 44ch;
    margin: 4rem auto;
}

.testimoni .overflow-eclipse-2{
    margin-top: 8rem
}

.testimoni .card-alt{
    margin-bottom: 4rem;
}


.testimoni .card-alt img{
    object-position: 10% 10%;
}

.pencapaian-wrapper{
    margin-top: -32rem;
}

.pencapaian{
    background-image: url('../images/pencapaian_giantree.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 2.2rem;
    padding: 4rem;
    color: #F4F9F4;
    max-height: 45rem;

    margin-top: -8rem;
}

.pencapaian-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

footer{
    background-image: url('../images/overlay_footer.svg');
    background-position: center;
    background-repeat: repeat-x;
    
    width: 100%;
    height: 100%;
    padding-top: 15rem;
}

footer p{
    margin-bottom: 0;
}

footer a{
    color: #1c1c1c;
}

footer a:hover{
    color: #46AE83;
}

.footer-content{
    margin-top: 2rem;
}

.copyright{
    display: flex;
    flex-direction: column-reverse;
    z-index: 1;

    background-image: url('../images/curve.svg');
    background-size: cover;
    background-position: right;
    
    background-repeat: repeat-x;
    width: 100%;
    height: 18rem;
    
    padding-bottom: 4rem;
    margin-top: -18rem;

    color: #F4F9F4;
    text-align: center;
}

.produk{
    margin-top: 3rem;
    margin-bottom: 3rem;
}


.produk img{
    width: 100%;
    height: 32rem;
    object-fit: cover;
    border-radius: 1.8rem;
}

.produk-desc-1{
    float: left;
    text-align: left;
    padding-top: 13%;
    
    width: 100%;
}

.produk-desc-2{
    float: right;
    text-align: left;
    padding-top: 18%;
    width: 100%;
}

.team{
    margin-top: 12rem;
    margin-bottom: 32rem;
}

.team-content{
    margin-top: 7rem;
}

.team h5{
    margin-top: 8%;
}

.social{
    font-size: 3.2rem;
}

.social i{
    margin-right: .5rem;
}

.social a{
    color: #1c1c1c;
    text-decoration: none;
}

.social span{
    font-size: 1.5rem
}

.fa.fa-instagram {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
  }

/* .dampak-1, .dampak, .lingkungan, .sosial, .ekonomi{
    background-attachment: fixed;
    scroll-snap-type: y mandatory;
} */

.dampak-1{
    height: 100vh;
    width: 100%;
    background-image: url(../images/dampak.jpg);
    background-size: cover;
    background-position: center;
    color: #F4F9F4;
    /* z-index: 0; */
    background-attachment: fixed;
}

.dampak{
    height: 100vh;
    width: 100%;
    color: #F4F9F4;
    /* z-index: 0; */
    padding-bottom: 3rem;
}

.dampak .slogan-content{
    z-index: 10;
    color: #F4F9F4;
    
}

.dampak-content{
    float: left;
    position: absolute;
    bottom: -100vh;
}

.dampak .slogan-content::after{
    background: #46AE83;
    width: 24rem;
}

.lingkungan{
    height: 100vh;
    background: url(../images/lingkungan.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.ekonomi{
    height: 100vh;
    background: url(../images/ekonomi.jpg);
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
}

.sosial{
    height: 100vh;
    background: url(../images/sosial.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.showup-detail-alt p{
    margin-bottom: 0;
}

.margin-3{
    margin-bottom: 3rem;
}

.loader-wrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #F4F9F4;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #46AE83;
    animation: loader 2s infinite ease;
  }
  
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #46AE83;
    animation: loader-inner 2s infinite ease-in;
  }
  
  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    
    25% {
      transform: rotate(180deg);
    }
    
    50% {
      transform: rotate(180deg);
    }
    
    75% {
      transform: rotate(360deg);
    }
    
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes loader-inner {
    0% {
      height: 0%;
    }
    
    25% {
      height: 0%;
    }
    
    50% {
      height: 100%;
    }
    
    75% {
      height: 100%;
    }
    
    100% {
      height: 0%;
    }
  }

@media (min-width: 750px){
    .heading{
        height: 100vh; 
    }

    .heading::before{
        height: 100vh;
    }

    .heading-alt{
        height: 82vh;
        background-position-y: -18vh;
    }

    .slogan-content{
        bottom: -24rem;
        right: 20%;
    }
    
    .slogan-content h1{
        width: 100%;
    }
    
    .slogan-content::after{
        width: 24rem;
    }

    .eclipse-1{
        float: left;
        width: 28rem;
        height: 28rem;

        position: absolute;
        left: -rem;
        
        border: 6rem solid #76FBEB;
        border-radius: 50%;
        z-index: -1;
    }
    
    .eclipse-2{
        float: right;
        position: relative;
        right: -20rem;

        width: 28rem;
        height: 28rem;
    }

    .eclipse-3{
        float: left;
        width: 24rem;
        height: 24rem;
        
        position: absolute;
        left: 20%;
        margin-top: -5rem;
        
        border: 6rem solid #76FBEB;
    }
    
    .eclipse-4{
        width: 18rem;
        height: 18rem;

        right: 0;
        
        border: 5.2rem solid #76FBEB;
    }

    .overflow-eclipse-4{
        right: 25%;
        margin-top: 20%;
    }

    .rectangle-1{
        right: -2.2rem;
    }

    .overflow-rectangle-1{
        margin-top: 24%;
        width: 42rem;
        height: 16rem;
    }

    .hide-mobile{
        display: block;
    }

    .show-mobile{
        display: none;
    }

    .produk{
        margin-top: 14rem;
    }

    .teknologi-desc{
        float:right;
        position: absolute;
        bottom: 0;
    }

    .description{
        width: 100%;
        height: 100%;
        margin-top: 7rem;
        margin-bottom: 7rem;
        padding-top: 6rem;
        padding-bottom: 6rem;
        text-align: center;
    }
    
    .description p{
        margin: auto 8rem auto 8rem;
    }

    .team-content{
        position: relative;
        left: 8%;
    }

    .team{
        margin-bottom: 44rem;
    }
    
    .team-content{
        margin-top: 10rem;
    }

    .navbar-list-desktop{
        display: flex;
    }

    .nav-scrolled{
        padding-top: 1rem;
        padding-bottom: 0rem;

        height: 7rem;
    }

    .nav-scrolled a{
        color: #1c1c1c;
    }

    .button{
        position: relative;
        top: -12%;
    }

    .dampak p{
        width: 50%;
    }

    .copyright{
        padding-bottom: 3rem;
    }

    .solusi-content{
        display: block;
    }
}
